/* global */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

/* background image */
html {
  background-image: url(..//images/background-img.png);
}

/* container */
main.container {
  background-color: white;
  width: min(90vw, 400px);
  margin: auto;
  padding: 2.4rem 5rem 1.5rem 5rem;
  border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
}
main.container p {
  font-size: 20px;
  margin-bottom: 15px;
}

/* body */
body {
  font-family: 'Raleway', sans-serif;
  
}

/* header */
header {
  padding: 2rem 0 10rem;
  text-align: center;
}

/* form */
form input {
  margin-top: 5px;
  border: none;
  background-color: whitesmoke;
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  font-size: medium;
}

form input:hover {
  background-color: lightgrey;
}

form button {
  width: 150px;
  height: 40px;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
  margin-top: 20px;
  font-size: 100%;
}

form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

form.form p {
    margin-top: 15px;
    font-size: 100%;
    text-align: left;
}
form p.message {
  text-align: center;
  margin-bottom: 10px;
}
p.msg{
  margin-top: 1px;
  margin-bottom: 1px;
  visibility: hidden;
}

p.msg.error{
  visibility: visible;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color:#ef5350;
  color: black;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  font-size: 17px;
  text-align: center;
  padding: auto;
}

form label.sr-only{
  position: absolute;
    width: 1px;
    height:1px;
    padding: 0;
    margin:-1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
a {
  margin-top: 10px;
}

a:hover {
  opacity:0.9;
  cursor: pointer;
}